body {
    background-color: #f7f9fc;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 10px;
}

.dash-radio-items {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#sales-line-chart {
    padding: 10px;
}
